* {
    font-family: Arial;
}

.videoList {
    float: right;
    position: relative;
    width: 400px;
}

.videoList > div {
    background-color: aquamarine;
    line-height: 35px;
}

.videoList > div:hover {
    background-color: darkorange;
}

.videos {
    margin-right: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}

iframe {
    width: 100%;
    height: 100%;
}

.video {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 31%;
}

.video > span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(-45deg);
    color: orange;
}

.btn-wrap {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    color: white;
    font-size: 30px;
    line-height: 30px;
    padding: 0 7px;
}

.btn:focus {
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn-add {
    background-color: darkorange;
}

.btn-remove {
    background-color: red;
    position: absolute;
    right: 0;
}

.empty {
      height: 0px;
      width: 45%;
      margin-left: 15px;
      margin-bottom: 0;
    }





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
    .video {
        width: 45%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) and (min-width : 768px) {
    .video {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .videoList {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }

    .videos {
        margin-right: 0;
        justify-content: center;
    }

    .video {
        width: 45%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .videoList > div {
        font-size: 12px;
    }

    .video {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}