* {
    font-family: Arial;
    box-sizing: border-box;
    transition: 0.3s ease all;
}

*:after, *:before {
    transition: 0.3s ease all;
}

h1 {
    border-bottom: 3px solid;
    padding-bottom: 16px;
}

.videoList {
    float: right;
    position: relative;
    width: 400px;
}

.videoList > div {
    line-height: 35px;
    cursor: pointer;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 3px;
    border-bottom: 2px solid red;
}

.videoList > div:hover {
    color: red;
}

.videos {
    margin-right: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    border-right: 2px solid;
}

@keyframes timing {
  50%{
    opacity: 1;
  }
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.video {
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 31%;
    border-bottom: 4px solid darkorange;
    animation: timing 5s infinite;
}

.video:hover {

}

.video > span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: orange;
}

.btn-wrap {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    color: #fff;
    font-size: 37px;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0 7px;
    position: relative;
}

.btn:focus {
    outline: none;
}

.btn-add {
    background-color: darkorange;
}


.btn-add:hover:after {
    background-color: darkorange;
    color: #fff;
}

.btn-add:after {
    content: 'Добавить видео';
    display: inline-block;
    position: absolute;
    padding: 5px 24px;
    width: 177px;
    font-size: 21px;
    color: #000;
    border: 3px solid #ff8c00;
}

.btn-remove {
    background-color: red;
    position: absolute;
    right: 0;
    font-size: 30px;
}

.btn-remove:hover {

}

.empty {
      height: 0px;
      width: 45%;
      margin-left: 15px;
      margin-bottom: 0;
    }





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
    .video {
        width: 45%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) and (min-width : 768px) {
    .videos {
        border-right: none;
    }

    .video {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .videos {
        border-right: none;
    }
    .videoList {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }

    .videos {
        margin-right: 0;
        justify-content: center;
    }

    .video {
        width: 45%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .videoList > div {
        font-size: 12px;
    }

    .video {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}